.header {
  display : flex ; 
  background-color: rgb(153, 153, 221);
  border: 1px solid black;
  outline-style: solid;
  outline-color: red;
  flex-direction : row; 
  margin : 1px ; 
  padding : 1px ; 
  justify-content : space-around ; 
}

