.header {
  display : flex ; 
  background-color: rgb(185, 16, 157);
  border: 1px solid black;
  outline-style: solid;
  outline-color: rgb(212, 216, 0);
  flex-direction : row; 
  margin : 1px ; 
  padding : 1px ; 
  justify-content : space-around ; 
}

